// Place all the styles related to the chuck_norris_facts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
}

img.chuck_image { 
  content:url("chuck_norris1.png");
  height: 100px;
  width: auto;
}




