<!DOCTYPE html>
<html>
  <head>
    <title>PrimeRevenue | Derailed</title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="container">
      <h1>Chuck's Dashboard</h1>
      <img class="chuck_image"/>
      <%= yield %>
    </div>
  </body>
</html>


